* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  color: white;
}


html, body, #root {
    background-color: transparent !important;
}

.chatbot-logo-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.chatbot-1st-header {
  min-height: 70px;
  background-color: black;
}
.chatbot-mid-scroll {
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: scroll;
  margin-bottom: 70px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(231, 228, 228);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
}

.chatbot-footer{
    background: rgb(231, 228, 228);
    min-height: 83px;
    max-height: 70px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}
.chatbot-send-buttom{
    cursor: pointer;
}
.chatbot-text-input{
    /* max-height: 50px; */
    min-height: 50px;
    height: 50px;
    overflow:hidden;
    font-size: 15px !important;
    outline: none;
    offset: none;
}

.left-resonse {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 100px;
    max-width: 310px;
    min-height: 37px;
    padding: 10px;
    font-size: 14px;
    border: none;
    color: rgb(233, 229, 229);
    text-align: start;
    background-color: rgb(253, 248, 248);
  }
 

  .live-chat-message {
    min-width: 20% ;
    padding: 9px;
    border-radius: 7px;
  }
  
  .live-chat-message.user {
    background-color: rgb(32, 35, 39);
    color: white;
    border-bottom-left-radius: 0px;
    float: right;
    min-height: 40px !important;
    overflow-y: auto;
  }
  
  .live-chat-message.admin {
    background-color: rgb(247, 246, 246);
    backdrop-filter: blur(10px);
    color: black;
    border: 1px solid rgb(233, 230, 230);
    border-bottom-right-radius: 0px;
  }